.ldap-nav {
    border-radius: var(--bs-border-radius);
}

.ldap-nav .nav-link {
    color: var(--bs-light);
    border-radius: var(--bs-border-radius-sm);
}

.ldap-nav .nav-link.active {
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

.ldap-nav .nav-link:hover {
    background-color: rgba(var(--bs-primary-rgb), 0.2);
    color: var(--bs-primary);
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--bs-white);
    background: var(--bs-dark);
}

.group-icon {
    width: 40px;
    height: 40px;
    border-radius: var(--bs-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bs-dark);
    color: var(--bs-white);
}